
<div class="modal-body">
    <div class="titleHead">
        Leaderboard
    </div>
    <div class="leaderBoardWrap">
        <div class="tableWrap">
            <table>
                <tr>
                    <td>
                        <span class="a1">1</span>
                    </td>
                    <td>
                        <div class="userThumb">
                            <img src="../../assets/img/users/elephant.png" alt="">
                        </div>
                    </td>
                    <td>Player Name 1</td>
                    <td class="gems">
                        <img src="../../assets/img/gems.png" alt=""> XYZ
                    </td>
                    <td>
                        <p> <span>Score</span>  123456789</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="b">2</span>
                    </td>
                    <td>
                        <div class="userThumb">
                            <img src="../../assets/img/users/crocodile.png" alt="">
                        </div>
                    </td>
                    <td>Player Name 1</td>
                    <td class="gems">
                        <img src="../../assets/img/gems.png" alt=""> XYZ
                    </td>
                    <td>
                        <p> <span>Score</span>  123456789</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="c">3</span>
                    </td>
                    <td>
                        <div class="userThumb">
                            <img src="../../assets/img/users/giraffe.png" alt="">
                        </div>
                    </td>
                    <td>Player Name 1</td>
                    <td class="gems">
                        <img src="../../assets/img/gems.png" alt=""> XYZ
                    </td>
                    <td>
                        <p> <span>Score</span>  123456789</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>4</span>
                    </td>
                    <td>
                        <div class="userThumb">
                            <img src="../../assets/img/users/gorilla.png" alt="">
                        </div>
                    </td>
                    <td>Player Name 1</td>
                    <td class="gems">
                        <img src="../../assets/img/gems.png" alt=""> XYZ
                    </td>
                    <td>
                        <p> <span>Score</span>  123456789</p>
                    </td>
                </tr>

                <tr class="you">
                    <td>
                        <span>5</span>
                    </td>
                    <td>
                        <div class="userThumb">
                            <img src="../../assets/img/users/ostrich.png" alt="">
                        </div>
                    </td>
                    <td class="wtxt">You</td>
                    <td class="gems">
                        <img src="../../assets/img/gems.png" alt=""> XYZ
                    </td>
                    <td>
                        <p> <span>Score</span>  123456789</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>6</span>
                    </td>
                    <td>
                        <div class="userThumb">
                            <img src="../../assets/img/users/rhino.png" alt="">
                        </div>
                    </td>
                    <td>Player Name 1</td>
                    <td class="gems">
                        <img src="../../assets/img/gems.png" alt=""> XYZ
                    </td>
                    <td>
                        <p> <span>Score</span>  123456789</p>
                    </td>
                </tr>
                
            </table> 
        </div>
    </div>
 
</div>
