<div class="setting" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
    <img src="../../assets/img/setting.png" alt="">
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="settingBoard">
    <div class="frmField">
      <p>Sound</p>
      <label class="switch">
        <input type="checkbox" id="togBtn">
        <div class="slider round">
        <!--ADDED HTML -->
        <span class="on">On</span>
        <span class="off">Off</span>
        <!--END-->
        </div>
      </label>
    </div>
    <div class="frmField">
      <p>Music</p>
      <label class="switch">
        <input type="checkbox" id="togBtn">
        <div class="slider round">
        <!--ADDED HTML -->
        <span class="on">On</span>
        <span class="off">Off</span>
        <!--END-->
        </div>
      </label>
    </div>
    <div class="frmField">
      <button>Info</button>
    </div>
    <div class="frmField">
      <button>Quit</button>
    </div>
    
  </div>
</div>


<!-- chat -->
<div #aaa="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
  <div class="chatBoard">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Messages</a>
        <ng-template ngbNavContent>
          <div class="chatWrap">
              <div class="flexWrap">
                <button>Yes</button>
                <button>No</button>
                <button>May I go out? </button>
              </div>
              <p class="shadowLine">
                <img src="../../assets/img/shadow.png" alt="">
              </p>
              <div class="flexWrap">
                <button>Thank you</button>
                <button>You're welcome</button>
              </div>
              <div class="flexWrap">
                <button>Wow, great play!</button>
                <button>Oops, sorry</button>
              </div>
              <div class="flexWrap">
                <button>Great game everyone!</button>
              </div>
              <div class="flexWrap">
                <button>We can turn this around!</button>
              </div>
              <div class="flexWrap">
                <button>It's not over till it's over !</button>
              </div>
              <div class="flexWrap">
                <button>Best game ever!</button>
                <button>Rematch?</button>
              </div>
              <div class="flexWrap">
                <button>That was a nail biter!</button>
              </div>

          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Emojis</a>
        <ng-template ngbNavContent>
          <div class="emojiWrap">
            <button><img src="../../assets/img/emoji/1.png" alt=""></button>
            <button><img src="../../assets/img/emoji/2.png" alt=""></button>
            <button><img src="../../assets/img/emoji/3.png" alt=""></button>
            <button><img src="../../assets/img/emoji/4.png" alt=""></button>
            <button><img src="../../assets/img/emoji/5.png" alt=""></button>
            <button><img src="../../assets/img/emoji/6.png" alt=""></button>
            <button><img src="../../assets/img/emoji/7.png" alt=""></button>
            <button><img src="../../assets/img/emoji/8.png" alt=""></button>
            <button><img src="../../assets/img/emoji/9.png" alt=""></button>
            <button><img src="../../assets/img/emoji/10.png" alt=""></button>
            <button><img src="../../assets/img/emoji/11.png" alt=""></button>
            <button><img src="../../assets/img/emoji/12.png" alt=""></button>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div> 
</div>
<!-- chat -->

<div class="chat" (click)="aaa.toggle()" [attr.aria-expanded]="!isCollapsed1">
    <img src="../../assets/img/chat.png" alt="">
</div>