.alignWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.outerWrap {
    background: url(../../assets/img/mobile-bg-min.jpg) center bottom;
    background-size: cover;
    .frmWrap {        
        background: url(../../assets/img/popup-bg.png) no-repeat center -8px;
        width: 80vw;
        background-size: auto;
        background-size: 100% 100%;
        height: 80vh;
        margin-bottom: 0;
        position: relative;
        img {
            max-width: 100%;
        }
        .frmCol{
            width: 38vw;
            margin: 30vh auto 0;
            padding: 0 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                color:#fff;
                text-align: center;
                margin: 30px 0 auto;
                text-shadow:  0 2px 2px #a98c62;
                font-size: 25px;
            }
            .inputWrap{
                margin: 15px 0 6px;
                .from-control{
                    background: url(../../assets/img/inputBg.png) left top no-repeat;
                    font-size: 20px;
                    color: #fff;
                    width: 100%;
                    border: none;
                    padding: 10px;
                    display: block;
                    box-sizing: border-box;
                    background-size: 100% 100%;
                }
            }
        }
        .arrowBtn{
            background: url(../../assets/img/enter.png) center center no-repeat;
            min-height: 55px;
            min-width: 50px;
            background-size: 50px 55px;
            border:none;
            margin: auto 0 0 auto;
            
        }
    }
}
.signup-btn {
    background: url(../../assets/img/mobile-bg-min.jpg) center top;
}
.treeTop {
    // background: url(../../assets/img/bushes1.png) center top repeat-x;
    // height: 421px;
    // background-size: cover;
    position: absolute;
    // top: -100px;
    width: 100%;
    z-index: 1;
    img{
        max-width: 100%;
    }
}
.leaveTop {
    background: url(../../assets/img/leaveTop.png) center top no-repeat;
    height: 440px;
    background-size: cover;
    position: absolute;
    top: -100px;
    width: 100%;
    z-index: 1;
}
.leavesRB, .leavesLB {
    // background: url(../../assets/img/leaves.png) center bottom no-repeat;
    // height: 300px;
    width: 29%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    // background-size: contain;
    img{
        max-width: 100%;
    }
}
.leavesRB {
    left: 0;
    right: auto;
    transform: rotateY(180deg);
    
}
.leaveWrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    .leaveTopL , .leaveTopR{
        max-width: 18vw;
        transform: rotateY(180deg);
        img{
            max-width: 100%;
        }
    }
    .leaveTopL {
        max-width: 25vw
    }
}
.zebra {
    width: 17vw;
    position: fixed;
    right: 0vw;
    bottom: 8vw;
}
.leopeard {
    width: 21vw;
    position: absolute;
    bottom: -1vh;
    left: 5vw;
    z-index: -1;  
    img.face{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        width: 7vw;
        animation-name: headSake;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes headSake {
        0% { transform: rotate(0deg);}
        25% { transform: rotate(6deg);}
        50% { transform: rotate(-6deg);}
        100% { transform: rotate(0deg);}
      }
}
.orng-btn{
    background: url(../../assets/img/signup-btn.png) no-repeat center center;
    font-family: "kabrio";
    font-size: 25px;
    color: #fff;
    height: 56px;
    width: 170px;
    background-size: 100% 100%;
    border: none;
    text-shadow: 2px 3px 1px #c43f01;
    margin-bottom: 30px;
}
p{
    color:#fff;
    font-size: 20px;
    margin-bottom: 5px;
}

@media screen and (max-height:490px){
    .leopeard{
        bottom: -11vh;
    }
    .leaveWrap .leaveTopL{
        max-width: 20vw;
    }
    .treeTop{
        img{
            position: relative;
            top: -50px;
        }
    }
    .outerWrap .frmWrap {
        width: 70vw;
        height: 100vh;
        background-position: center -30px;
        .frmCol {
            padding: 0 25px;
            margin: 24vh auto 0;
            .inputWrap {
            margin: 8px 0 6px;
            .from-control{
                font-size: 16px;
                padding: 5px 10px;
                }
            }
            h3{
                margin-bottom: 2vh;
                margin-top: 0;
            }
        }
        .arrowBtn{
            margin: auto 0 30px auto;
        }
    }
    .orng-btn{
        width: 150px;
    }
}
@media screen and (max-height:450px){
    .outerWrap .frmWrap {
        background-size: 72vw 80vh;
        .arrowBtn{
            min-height: 45px;
            min-width: 40px;
            background-size: contain;
        }
        .frmCol h3{
            font-size: 20px;
        }
    }
    p{
        font-size: 15px;
    }
    
}