<div class="modal-body modalBg tabSpace">
    <div class="playerTable">
        <div class="playerTab p1">
            <div class="imgWrap blueBg">
                <span>A</span>
                <img src="../../assets/img/profilep.png" alt="">
            </div>
            <p>{{this.modal.userName}}</p>
            <button>Switch the player <img src="../../assets/img/refresh.png" alt=""></button>
        </div>
    
        <div class="playerTab p2">
            <div class="imgWrap">
                <span>B</span>
                <img src="../../assets/img/profilep.png" alt="">
            </div>
            <p>{{this.modal.userName}}</p>
            <button>Switch the player <img src="../../assets/img/refresh.png" alt=""></button>
        </div>
    
        <div class="playerTab p3">
            <div class="imgWrap">
                <span>B</span>
                <img src="../../assets/img/profilep.png" alt="">
            </div>
            <p>{{this.modal.userName}}</p>
            <button>Switch the player <img src="../../assets/img/refresh.png" alt=""></button>
        </div>
    
        <div class="playerTab p4">
            <div class="imgWrap blueBg">
                <span>A</span>
                <img src="../../assets/img/profilep.png" alt="">
            </div>
            <p>{{this.modal.userName}}</p>
            <button>Switch the player <img src="../../assets/img/refresh.png" alt=""></button>
        </div>                           
    
        <button type="button" class="blueBtn" (click)="startGame()" *ngIf="this.modal.isHost" >Play</button>
    </div>
</div>
