<div class="modal-body modalBg tabSpace">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem >
            <a ngbNavLink >Newbies</a>
            
        </li>
        <li ngbNavItem (click)="selectMode('relaxed')">
            <a ngbNavLink>Relaxed</a>
           
        </li>
        <li ngbNavItem (click)="selectMode('fast')">
            <a ngbNavLink>Fast</a>
           
        </li>
        <li ngbNavItem (click)="selectMode('turbo')">
            <a ngbNavLink>Turbo</a>
        </li>
    </ul>
   
        <div class="createRoomWrap"> 
            <h3 >Select Game Mode</h3>
        </div>
    

    <div [ngbNavOutlet]="nav"></div>
</div>
