
<div class="modal-body modalBg-md">
    <div class="headArea">
        <h2>You Won!</h2>
    </div>
    <div class="modalinner">
        <div class="scoreGems">
            <p>
                <img src="../../assets/img/gems.png" alt=""> 100
            </p>
        </div>

        <!-- <div class="scoreGems">
            <p class="lose">Try Again!</p>
        </div> -->
        
        <div class="listingTable">
            <table>
                <tr>
                    <th>Score</th>
                    <th>Out Team</th>
                    <th>Rivals</th>
                </tr>
                <tr>
                    <td>Finished</td>
                    <td>100</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Hand Cards</td>
                    <td>0</td>
                    <td>-10</td>
                </tr>
                <tr>
                    <td>Meldad Cards</td>
                    <td>100</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Natural Cansatas</td>
                    <td>100</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Mixed Cansatas</td>
                    <td>100</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>Red Trees</td>
                    <td>100</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><span>620 <img src="../../assets/img/crown.png" alt=""></span></td>
                    <td>440</td>
                </tr>
            </table>
        </div>

       
    </div>
</div>
