<div class="outerWrap">
    <div class="treeTop">
        <img src="../../assets/img/bushes1.png" alt="">
    </div>
    <div class="leaveWrap">
        <div class="leaveTopL">
            <img src="../../assets/img/leaveTopL.png" alt="">
        </div>
        <div class="leaveTopR">
            <img src="../../assets/img/leaveTop.png" alt="">
        </div>
    </div>
    
    <div class="alignWrap">
        <div class="frmWrap">
            <div class="leopeard">
                <img src="../../assets/img/leopeard/face.png" class="d-block mx-100" class="face">
                <img src="../../assets/img/leopeard/body.png" class="d-block mx-100">
            </div>
            <div class="frmCol">
                <h3>Sign Up</h3>
                <div class="inputWrap">
                    <input type="text" placeholder="User Name" class="from-control">
                </div>
                <div class="inputWrap">
                    <input type="email" placeholder="Email Address" class="from-control">
                </div>
                <div class="inputWrap">
                    <input type="password" placeholder="Password" class="from-control">
                </div>
                

                <button class="arrowBtn"></button>
            </div>
        </div>
        <p class="text-center">Already have an account</p>
        <button class="orng-btn d-block" type="submit" [routerLink]="['/login']">
            Log In 
        </button>
    </div>
</div>


<div class="zebra">
    <img src="../../assets/img/zebra.png" class="d-block mx-100">
</div>

<div class="leavesLB">
    <img src="../../assets/img/leaves.png" alt="">
</div>
<div class="leavesRB">
    <img src="../../assets/img/leaves.png" alt="">
</div>