<div class="modal-body modalBg">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Profile</a>
            <ng-template ngbNavContent>
                <div class="profileCol">
                    <div class="profileDetails">
                        <div class="userMainImg">
                            <img src="../../assets/img/users/lion.png" alt="">
                            <div class="userDetails">
                                <p>USERNAME_78568</p>
                                <input type="text" value="safaricanasa@jungle.com">
                                <div class="passwordWrap">
                                    <label for="">Password</label>
                                    <input type="password" value="password">
                                </div>
                                <button>
                                    Edit details <img src="../../assets/img/edit.png" alt="">
                                </button>                                
                            </div>
                        </div>
                        <div class="otherThumb">
                            <div class="thumb"><img src="../../assets/img/users/lion.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/s.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/giraffe.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/rhino.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/gorilla.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/elephant.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/crocodile.png" alt=""></div>
                            <div class="thumb"><img src="../../assets/img/users/ostrich.png" alt=""></div>
                        </div>
                    </div>
                    <div class="scoreCard">
                        <ul>
                            <li>
                                <span>Highest Score</span><p>65768</p>
                            </li>
                            <li>
                                <span>Hands Play</span><p>408</p>
                            </li>
                            <li>
                                <span>Best Hands</span><p>68</p>
                            </li>
                            <li>
                                <span>Hands Won</span><p>5782</p>
                            </li>
                            <li>
                                <span>Hands Lost</span><p>634</p>
                            </li>
                            <li>
                                <span>Unfinished games</span><p>50</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </li>        
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <div class="modal-footer topNone hidden_item">
        <div type="button" class="btn  home-btn">
            <img src="../../assets/img/homeBtn.png" alt="">
        </div>
    </div>

</div>

