$fixheight: 45vh;
.modalBg {
    background: url(../../assets/img/boardedited.png) no-repeat;
    background-size: 100% 100%;
    padding: 0;
    height: 100%;
    margin: 0 16px;
}
.createRoomWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $fixheight;
    flex-direction: column;
    h3 {
        color: #fff;
        font-size: 32px;
        text-shadow: 0 0 4px rgba(38, 25, 1, 0.35);
        font-weight: 800;
        margin: 0;
    }
    input {
        color: #48220b;
        font-size: 32px;
        font-weight: 800;
        max-width: 360px;
        text-align: center;
        background: url(../../assets/img/inputbox.png) no-repeat center center;
        border: none;
        padding: 10px;
        background-size: 100% 100%;
        margin: 15px 0;
    }
    h4 {
        color: #48220b;
        font-size: 18px;
        font-weight: 800;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 14px;
            margin-left: 8px;
        }
    }
}
.nav-tabs.nav {
    border: none;
    display: flex;
    padding: 0 40px;
    top: -25px;
    position: relative;
    .nav-item {
        flex: 1;
    }
}
.nav-tabs .nav-link {
    background: url(../../assets/img/unselected-Tab.png) no-repeat;
    border-radius: 0;
    background-size: 100% 100%;
    font-family: "kabrio";
    text-align: center;
    color: #4c2619;
    text-transform: uppercase;
    font-size: 24px;
    padding: 12px 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    margin: 0 10px;
    height: 58%;
    &:hover, &:focus-visible {
        border: none !important;
        margin: 0 10px;
        outline: none;
    }
    &.active {
        background: url(../../assets/img/selected-Tab.png) no-repeat;
        border: none;
        margin: 0;
        background-size: 100% 100%;
        position: relative;
        z-index: 1;
        height: 94px;
        padding: 10px;
        color: #fff;
        text-shadow: 0 2px 2px #5d1412;
        font-size: 25px;
        &:hover, &:focus-visible {
            border: none !important;
            margin: 0;
            outline: none;
        }
    }
}