
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'kabrio';
    src: url(../src/fonts/kabrio-Abarth-Heavy.ttf);
}
*{
    margin: 0;
    padding: 0;
}

*,body,.from-control{
    font-family: 'Roboto', sans-serif;
}
.from-control:focus{outline: none;}
button{
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}
button:hover, button:focus{
    transform: scale(1.05);
}
::placeholder{
    opacity: 0.94;
    color:#fff;
}
.outerWrap{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top:0
}
.text-center{
    text-align: center;
}
.m-auto{
    margin: 0 auto;
}
.d-block{
    display: block;
}
.mx-100{
    max-width: 100%;
}
body .modal-content{
    background: none;
    border:none
}
body .modal-lg{
    max-width: 800px !important
}
body .modal-xl{
    max-width: 900px !important
}
.tabSpace .tab-content > .active {
    display: block;
    padding-bottom: 50px;
}
.dark-modal.modal-dialog.modal-fullscreen{
    background: url(assets/img/help/background.jpg) no-repeat left bottom / cover #0a2d29 !important;
}
.home-btn{
    background: transparent;
    border:none;
}
body .modal{
    overflow: hidden;   
}
.header-col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    h2{
        font-family: 'kabrio';
        font-size: 2em;
        margin: 0 auto;
        color: #fff;
        text-shadow: 0 0 3px rgba(0,0,0,0.8);
        color: linear-gradient(red, yellow);
    }
    .close{
        border: none;
        padding: 0;
        max-width: 35px;
        background: none;
        margin-right: 0;
        img{
            max-width: 100%;
            display: block;
        }
    }
}

.home-btn,
.homeBtn{
    background: transparent;
    border: none;
    width: 7vw;
    max-width: 70px;
    min-width: 40px;
    img{
        max-width: 100%;
    }
}
.lboardWrap{
    .homeBtn{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.winlose{
    .homeBtn{
        position: absolute;
        right: 4vw;
        bottom: 4vh;
    }
}
.hidden_item{
    opacity: 0;
    pointer-events: none;
}
.settingWrap{
    .topNone{
        padding: 0 30px;
    }
    .modal-footer{
        justify-content: space-between !important;
    }
}
.ctRoom{
    .modal-footer{
        flex-wrap: nowrap;
        align-items: center;
        .blueBtn{
            text-transform: uppercase;
            font-size: 2.5vh;
            padding: 10px 18px;
        }
        .home-btn{
            margin-right: 5px;
        }
    }
}
@media screen and (max-height:500px){
    body .modal-lg{
        max-width: 650px !important;
    }
    .ctRoom{
        .modal-footer {
            .blueBtn{    
                font-size: 4vh;
            }
            .home-btn{
                margin: 0 10px;
                max-width: 40px
            }
        }
    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
